html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    height: 100vh; /* Pour centrer la .card c'est plus jolie */
    background-color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #111;
}

.main {
    display: flex;
    align-items: center;
    height: 100%;
}

.card {
    width: 300px; /*1*/
    display: flex;
    flex-direction: column;
    padding:20px;
    
}

.card-img {

}
img {
    width: 100%;
    border-radius: 10px;
}
.card-header {
    /*border-radius: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: sans-serif;*/

    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: space-around;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    box-sizing: border-box;
    width: fit-content;
    margin-top: 10px;

    
}

.card-header a {
    border-radius: 50px;
    background-color: #F3F3F3;
    text-decoration: none;
    padding: 10px;
    flex: 1;
    margin-left: 5px;
    font-size: 14px;
    color: #000000;
}

.card-content {
    text-align: start;
    width: 100%;
    padding-bottom: 10px;
    
}
.card-content span{
   
    width: max-content;
    font-size: small;
    text-align: justify;
}

.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.card-footer span{
    background-color: #F3F3F3;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 50px;
} 
.card-footer a{
    background-color: #F3F3F3;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 50px;
    color: #000000;
} 

  h1 {
    text-align: left;
    width: max-content;
    font-size: x-large;
  }
  
  .bot-container {
    display: flex;
    align-items: center;
    flex: 1;
    border-radius: 50px;
    background-color: #D8E9D2;
    padding: 10px;
  }
  
  .bot-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(91, 141, 91);
    margin-right: 8px;
  }
  
  .bot-rating {
    font-size: 14px;
    color: black;
  }
  .comment-number {
    color: #808080;
  }